.title{
    margin-bottom:10px;
  }
  .div_task{
    margin-bottom:10px;
  }
  
  .task-container {
    margin-bottom: 10px;
  }
  
  .task-container button {
    margin-right: 5px;
  }
  
  .task-container span {
    margin-left: 5px;
  }